<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Syncfusion.core</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link href="~/lib/syncfusion-javascript/Content/ej/web/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />

    <link href="~/lib/syncfusion-javascript/Content/ej/web/responsive-css/ej.responsive.css" rel="stylesheet" />
    
    <script type="text/javascript" src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/syncfusion-javascript/Scripts/ej/web/ej.web.all.min.js"></script> 

</head>
<body>

    <div class="wrapper">
        <header role="banner">
            <nav class="container">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Syncfusion.core</a></li>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                </ul>
            </nav>
        </header>

        <main class="container">
            <h1>@ViewData["Title"]</h1>

            <ej-script-manager></ej-script-manager>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <span>&copy; @DateTime.Now.Year - Syncfusion.core</span>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
